
.container-fluid:nth-of-type(2) {
    margin-top: 0px;
}

h1 {
	margin: 40px 0px; 
	line-height: 1em;
}
h2 {
	margin: 30px 0px 20px 0px; 
	line-height: 1em; 
}
h4 {
	margin: 0px 0px 20px 0px; 
	line-height: 1em;
}

#questionCarousel{margin-top: 20px; }


.StudentAnswer {
    background-color: #e7e6e2;
    border: 1px solid #e7e6e2;
    color: #000;
}


/*******************  CSS_exception is now in use for all filenames. previously only for materialekendskab.html?file=3  ******************************/
.CSS_exception{
	border-radius: 8px;
	background-color: #FFF;
}
.CSS_exception .carousel-indicators{
	bottom: -5px;
}
.CSS_exception .carousel-indicators li{
	border: 1px solid #000;
}
.CSS_exception .carousel-indicators .active{
	background-color: #000;
}
.CSS_exception .left, .CSS_exception .right{
	background-image: none;
	color: #000;
}
.CSS_exception .carousel-control{
	opacity: 0.7;
}
.CSS_exception .carousel-control:hover{
	opacity: 1;
}
.CSS_exception .TextHolder{
	margin-bottom: 20px;
}
/***************************************************************************************************************************************************/


.MsgBox_bgr{z-index: 20;}  /* Dette fixer problemet med at .carousel-indicators har z-index: 15 */


.TextHolder{margin-left: auto; margin-right: auto; width: 80%; min-height: 200px;} 

.indent{margin-left: 10px}

.PointFeedback{margin-top: 10px;}

.carousel-inner > .item > img, .carousel-inner > .item > a > img {
    width: 70%;
    margin: auto;
}
/*
.btnPressed{
    background-color: #1da6db;
    border: 1px solid #1da6db;
    color: #fff;
}
*/
.btnPressed{
	background-color: #666666;
    border: 1px solid #666666;
    color: #fff;
}

.QuestionTask{
	color: #000;
}

.checkAnswer {
	background-color: #05a0a8;
    border-color: #05a0a8;
    color: #fff
}
.checkAnswer:hover{
	background-color: #047176;
    border-color: #047176;
    color: #fff;
}


.CorrectAnswer{
	background-color: #0dcea0;
	color: #FFF;
}


.WrongAnswer{
	background-color: #ed3e3a;
	color: #FFF;
}

.WrongAnswer_hover{
	background-color: #000;
	color: #FFF;
}


.btn-primary{
	background-color: #666666;
    border: 1px solid #666666;
    color: #fff;
}
.btn-primary:hover{
	background-color: #969696;
    border: 1px solid #969696;
    color: #FFF;
}

.TaskNumberImg {
    height: 20px;
    width: 20px;
}
.TaskNumberImg {
	margin-left: 10px;
    margin-bottom: 3px;
    width: 20px;
}

