
.container-fluid:nth-of-type(2) {
    margin-top: 0px;
}

h1 {
	margin: 40px 0px; 
	line-height: 1em;
}
h2 {
	margin: 30px 0px 20px 0px; 
	line-height: 1em; 
}
h4 {
	margin: 0px 0px 20px 0px; 
	line-height: 1em;
	color: #333;
}
h5{
	color: #333;
}

.SourcePage{/*border: 1px solid #C0C0C0;*/ /*padding: 10px 10px 0px 10px;*/ display: none;}

.SourcePage > h5 {
	display: inline-block;
}

/*
.Source{
	background-color: #fff;
    border-radius: 8px;
    padding: 10px;
    box-shadow: 1px 2px 8px #999;
}
*/

.ImgHolder, .TextHolder{
	background-color: #fff;
    border-radius: 6px;
    padding: 10px;
    /*box-shadow: 1px 2px 8px #999;*/
}

.VidHolder{
	margin-bottom: 10px;
}


.PagerClass{display: inline-block; margin-bottom: 0px;}
#PagerContainer{display: inline-block;}
#PagerContainer ul {padding: 0px;}
#PagerContainer ul li {display: inline;}

.PagerButton{margin-right: 10px;}

.dshow{display: block}


.MsgBox_bgr{z-index: 20;}  /* Dette fixer problemet med at .carousel-indicators har z-index: 15 */


.TextHolder{min-height: 100px;} 

.indent{margin-left: 10px}

.StudentAnswer {
	margin-bottom: 10px;
}

.btn-lg{
	margin-top: 10px;
}

.PagerHeader{
	font-weight: 700;
	display: inline-block;
	margin-right: 15px;
	margin-bottom: 0px;
}

.btnContainer > h4{
	margin-top: 30px;
}

.btnPressed{
	background-color: #666666;
    border: 1px solid #666666;
    color: #fff;
}
.btnPressed:hover{
	background-color: #969696;
    border: 1px solid #969696;
    color: #FFF;
}

.QuestionTask{
	color: #000;
	font-weight: 600;
}

.CorrectAnswer{
	background-color: #2abb2a;
	color: #FFF;
}

.CorrectAnswer:hover{
	background-color: #4adb4a;
	color: #FFF;
}


.WrongAnswer{
	background-color: #ed3e3a;
	color: #FFF;
}

.WrongAnswer_hover{
	background-color: #000;
	color: #FFF;
}


.PagerClass .btn-primary{
	background-color: #666666;
    border: 1px solid #666666;
    color: #fff;
}
.PagerClass .btn-primary:hover{
	background-color: #969696;
    border: 1px solid #969696;
    color: #FFF;
}

.checkAnswer {
	margin-bottom: 30px;
}

/*
.checkAnswer {
	background-color: #05a0a8;
    border-color: #05a0a8;
    color: #fff
}
.checkAnswer:hover{
	background-color: #047176;
    border-color: #047176;
    color: #fff;
}
*/
.ml15{margin-left: 15px;}


.TaskNumberImg {
    height: 20px;
    width: 20px;
}
.TaskNumberImg {
	margin-left: 10px;
    margin-bottom: 3px;
    width: 20px;
}

.mb10{margin-bottom: 10px;}


/*********************************************************************/

.label {
	margin-left: 10px;
}

.label-success { 
	background-color: #2abb2a;
	border-radius: 4px;
	/*padding-top: 0.5em;*/
	padding-bottom: -0.1em;
} 

.label-danger { 
	background-color: #ed3e3a;
	border-radius: 4px;
	/*padding-top: 0.5em;*/
	padding-bottom: -0.1em;
}

.btn-success{  /* VIGTIGT: Skal fjernes når ATO har rettet bg-color til MAMs nye farve i styles.css */
	background-color: #2abb2a;
	color: #FFF;
}

.btn-success:hover{ /* VIGTIGT: Skal fjernes når ATO har rettet bg-color til MAMs nye farve i styles.css */
	background-color: #4adb4a;
	color: #FFF;
}

.GoOn{
	background-color: #e7e6e2;
    border-color: #e7e6e2;
    color: #000;
    margin-bottom: 0px;
}


/*
	CSS spm til ATO:
		1. Kan "X" i UserMsgBox gøres smallere? (se MAMs tegning)
		2. Hvordan variere vi højden på BootStrap labels? (label-success og label-danger skal være 33px)
		3. Er fixet - tak for hintet TLY! Hvordan sætter vi en hover-effekt på "X" i UserMsgBox? 
*/

#UserMsgBox{
	background-color: #FFF;
}

#UserMsgBox h3 {
	font-weight: 700;
	margin-top: 0px;
}

/*********************************************************************/


.ScoreBox{
	background-color: #F8F8F6;
	border-radius: 4px;
}
.ScoreBox h5{
	display: inline-block;
	padding-left: 20px;
	padding-right: 20px;
}

.scoreText{
    color: #000;
    font-weight: 600;
}