
.container-fluid:nth-of-type(2) {
    margin-top: 0px;
}

h1 {
	margin: 40px 0px; 
	line-height: 1em;
}
h2 {
	margin: 30px 0px 20px 0px; 
	line-height: 1em; 
}
h4 {
	margin: 0px 0px 20px 0px; 
	line-height: 1em;
}

#questionCarousel{margin-top: 10px; }


.StudentAnswer {
    background-color: #e7e6e2;
    border: 1px solid #e7e6e2;
    color: #000;
    margin-bottom: 20px;
}


.SourcePage{/*border: 1px solid #C0C0C0;*/ /*padding: 10px 10px 0px 10px;*/ display: none;}

.SourcePage > h5 {
	display: inline-block;
}

.Source{
	margin-top: 30px;
}

.PagerClass{display: inline-block; margin-bottom: 0px;}
#PagerContainer{display: inline-block;}
#PagerContainer ul {padding: 0px;}
#PagerContainer ul li {display: inline;}

.PagerButton{margin-right: 10px;}

.dshow{display: block}


.MsgBox_bgr{z-index: 20;}  /* Dette fixer problemet med at .carousel-indicators har z-index: 15 */


.TextHolder{margin-left: auto; margin-right: auto; width: 80%; min-height: 200px;} 

.indent{margin-left: 10px}
/*
.PointFeedback{margin-top: 10px;}
*/
.PagerHeader{
	font-weight: 700;
	display: inline-block;
	margin-right: 15px;
	margin-bottom: 0px;
}

.btnContainer > h4{
	margin-top: 30px;
}

.btnPressed{
	background-color: #666666;
    border: 1px solid #666666;
    color: #fff;
}
.btnPressed:hover{
	background-color: #969696;
    border: 1px solid #969696;
    color: #FFF;
}

.QuestionTask{
	color: #000;
}


.CorrectAnswer{
	background-color: #0dcea0;
	color: #FFF;
}


.WrongAnswer{
	background-color: #ed3e3a;
	color: #FFF;
}

.WrongAnswer_hover{
	background-color: #000;
	color: #FFF;
}


.btn-primary{
	background-color: #666666;
    border: 1px solid #666666;
    color: #fff;
}
.btn-primary:hover{
	background-color: #969696;
    border: 1px solid #969696;
    color: #FFF;
}

.checkAnswer {
	background-color: #05a0a8;
    border-color: #05a0a8;
    color: #fff
}
.checkAnswer:hover{
	background-color: #047176;
    border-color: #047176;
    color: #fff;
}


.TaskNumberImg {
    height: 20px;
    width: 20px;
}
.TaskNumberImg {
	margin-left: 10px;
    margin-bottom: 3px;
    width: 20px;
}

.mb10{margin-bottom: 10px;}